{% extends "base.html" %}

{% block title %}About the FoosLadder{% endblock %}

{% block current_about %}class="active"{% endblock %}

{% block heading %}What's it all about{% endblock %}

{% block page_content %}
    <h3>Initial Conception</h3>
    <p>The ladder began as a project for Jason Coutu to learn Google's App Engine platform. That initial site can be found
    <a href="http://foos-1.vendladder.appspot.com">here</a>. This site was used by the crew at VendAsta to mark and track
    Foosball matches that went down in the office. A picture of such a match is below:</p>
    <div style="text-align:center">
        <img class="img-rounded" src="/static/img/foosplaying.png" />
    </div>
    <p>After a few months of use however, interest started to wane. It was about this time that Graham Holtslander (pictured
    above, in the green shirt) was hired on at VendAsta. After seeing the initial site, he immediately noticed areas for improvement; however
    his skills were weak and not yet fully honed, so he bided his time.</p>
    <h3>A Second Coming</h3>
    <p>A few more months went by, and Graham was quietly learning Google App Engine and Python. He was optimistic that he could make
    a positive impact on the Foosball Ladder. After procuring access to the <a href="https://github.com/jasonCoutu/foosLadder">GitHub repository</a>
    he quickly went to work, "upgrading" the site to use jQuery Mobile. Click the image below to go to that site:</p>
    <div style="text-align:center">
        <a href="http://foos-22.vendladder.appspot.com"><img class="img-rounded" src="/static/img/foosmobile.png" /></a>
    </div>
    <p>This looked and worked well, however there was still room for improvement. A certain element of the office thought that the purely mobile
    layout looked a bit silly (Graham included), and thus <a href="http://en.wikipedia.org/wiki/Responsive_web_design">responsive design</a> must be the answer.</p>
    <h3>Third Time's a Charm?</h3>
    <p>Enter the current website. (kinda) Completely re-written stylistically using <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>, the
    latest iteration of the site came together in very short order. Graham is incredibly excited to share the latest design with his friends and
    co-workers, and hopes they get a lot out of the new design.</p>
    <h3>The story isn't over!</h3>
    <p>Work is continually getting done on this site, as it is a "jam" project for Graham. If you have any thoughts
    or requests, please feel free to send him an <a href="mailto:gholtslander@vendasta.com">email</a>!</p>
{% endblock %}
