
{% macro playerSel(names, keys, name='selector', oppKey="none") -%}
<select id={{ name }} name={{ name }}>
        <option value="">-- Select one --</option>
    {% for key in keys %}
        {% if oppKey == key %}
            <option selected="selected" value="{{ key }}">{{names[loop.index0]}}</option>
        {% else %}
            <option value="{{ key }}">{{names[loop.index0]}}</option>
        {% endif %}
    {% endfor %}
</select>
{%- endmacro %}

{% macro rankingsSel(names, keyVals, name='selector') -%}
<select id={{ name }} name={{ name }}>
    {% set sortedKeys = keyVals|sort() %}
    {% for key in sortedKeys %}
        <option value="{{ key[1] }}">{{sortedKeys[loop.index0][1]}} - {{ sortedKeys[loop.index0][0] }}</option>
    {% endfor %}

</select>
{%- endmacro %}

{% macro playerScore( name='p1g1') -%}
<select name={{ name }} id={{ name }} class="input-small">
    {% for key in '012345' %}
        <option value="{{ key }}">{{key}}</option>
    {% endfor %}

</select>
{%- endmacro %}

{% macro printGames() -%}
<div class="control-group">
    <label class="control-label">Game 1</label>
    <div class="controls">
        {{   playerScore('p1g1') }}
        {{   playerScore('p2g1') }}
    </div>
    <label class="control-label">Game 2</label>
    <div class="controls">
        {{   playerScore('p1g2') }}
        {{   playerScore('p2g2') }}
    </div>
    <label class="control-label">Game 3</label>
    <div class="controls">
        {{   playerScore('p1g3') }}
        {{   playerScore('p2g3') }}
    </div>
</div>
{%- endmacro %}

{% macro printGamesFluid() -%}
<div class="control-group">
    <label class="control-label">Game 1</label>
    <div class="controls">
        {{   playerScore('p1g1') }}
        {{   playerScore('p2g1') }}
    </div>
    <label class="control-label">Game 2</label>
    <div class="controls">
        {{   playerScore('p1g2') }}
        {{   playerScore('p2g2') }}
    </div>
    <label class="control-label">Game 3</label>
    <div class="controls">
        {{   playerScore('p1g3') }}
        {{   playerScore('p2g3') }}
    </div>
</div>
{%- endmacro %}

{% macro leaderboard(category, heading) -%}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>{{ heading }}</th>
    </tr>
    {% for user in category|reverse %}
        <tr>
            <td>{{ loop.index0 + 1 }}</td>
            <td>{{ user.full_name }}</td>
            <td>{{ user.data }}</td>
        </tr>
    {% endfor %}
</table>
{%- endmacro %}

{% macro print_ladder(numplayers, active, players) -%}
<table class="table table-bordered">
    <caption>There are currently {{ numplayers }} players in the ladder,
        {{ active }} have been active in the past week.<br>
        <b>Click on a player's name to go to their stats page.</b>
    </caption>
  <tr>
      <th>Name</th>
      <th>SkillScore</th>
  </tr>
{%  for player in players %}
    <tr>
        <td><a href="/playerView?key={{ player[0] }}">{{ player[1] }}</a></td>

        <td>{{ player[2] }}</td>
    </tr>
{% endfor %}
</table>
{%- endmacro %}