/* line 1, ../scss/global.scss */
body {
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 20px;
  font-family: sans-serif;
  background: white url("/static/img/ladder.png") no-repeat fixed center;
  background-size: contain;
}
/* line 8, ../scss/global.scss */
body html {
  overflow: hidden;
  height: 100%;
}

/* line 14, ../scss/global.scss */
table a {
  color: black;
}

/* line 18, ../scss/global.scss */
.container.body {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
