/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../scss/global.scss */
h1 {
  font-size: 2em;
}

/* line 7, ../scss/global.scss */
.centered_header {
  text-align: center;
  color: white;
  background-color: #4c7b65;
}

/* line 13, ../scss/global.scss */
body {
  font-family: sans-serif;
  background-color: #EEEEEE;
}

/* line 18, ../scss/global.scss */
.page_content {
  text-align: center;
}

/* line 23, ../scss/global.scss */
#Players {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-collapse: collapse;
}

/* line 30, ../scss/global.scss */
#Players td, #Players th {
  font-size: 1em;
  text-align: center;
  border: 1px solid #c6c9ac;
  padding: 3px 7px 2px 7px;
}

/* line 37, ../scss/global.scss */
#Players th {
  font-size: 1.1em;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #c6c9ac;
  color: #ffffff;
}

/* line 46, ../scss/global.scss */
#Players tr.alt td {
  color: #000000;
  background-color: #d4d7ba;
}

/* line 51, ../scss/global.scss */
div.centered2 {
  text-align: center;
}

/* line 55, ../scss/global.scss */
div.centered2 table {
  margin: 0 auto;
  text-align: left;
}
