<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}VendAsta Foos Ladder{% endblock %}</title>
    <link href="/static/css/global.css" media="screen, projection" rel="stylesheet" type="text/css" />
    {% block styling %}{% endblock %}
</head>
<body>
<h1 class="centered_header">
    {% block heading %}{% endblock %}
</h1>

<div class="page_content">
    {% block page_content %}{% endblock %}
</div>
</body>
</html>