{% extends "base.html" %}
{% from 'macros.html' import print_ladder %}

{% block title %}Current Ladder{% endblock %}

{% block current_ladder %}class="active"{% endblock %}

{% block heading %}Aim High{% endblock %}

{% block page_content %}
{% if success %}
<script type="text/javascript">
  $.gritter.add({
    title: "Match entry successful",
    text: "The match was entered successfully! There was a point change of {{ point_change }} after that match.",
    image: "/static/img/textured-foosball-ball.png",
    time: 4000
  });
</script>
{% endif %}
{{ print_ladder(numplayers, active, players) }}
{% endblock %}
