{% extends "base.html" %}
{% block title %}VendAsta Foos Ladder{% endblock %}

{% block current_home %}class="active"{% endblock %}

{% block heading %}Home Sweet Home{% endblock %}

{% block page_content %}
    <p>Welcome, {{ name }}, to the VendAsta Foosball Ladder; THE place to do all
    of your game entry for foosball played at VendAsta. Check out what you can do
    here:</p>

{#    <div class="row-fluid">#}
{#        <div class="span3"><a href="/ladder" class="btn btn-large">Check out the Ladder</a></div>#}
{#        <div class="span3"><a href="/selector" class="btn btn-large">View the Player Directory</a></div>#}
{#        <div class="span3"><a href="/recordGame" class="btn btn-large">Record a game</a></div>#}
{#        <div class="span3"><a href="/settings" class="btn btn-large">View your settings</a></div>#}
{#    </div>#}
    <div style="text-align:center">
    <a href="/ladder" class="btn btn-large">Check out the Ladder</a>
    <a href="/selector" class="btn btn-large">View the Player Directory</a>
    <a href="/recordGame" class="btn btn-large">Report a game</a>
    <a href="/settings" class="btn btn-large">View your settings</a>
    </div>
    <div class="visible-phone">
        {% if logout %}
            <p>Mobile users can also:</p>
        <a href="{{ logout }}" class="btn btn-danger">Sign Out</a>
        {% endif %}
    </div>
{% endblock %}