{% extends "base.html" %}
{% from 'macros.html' import print_ladder %}

{% block title %}VendAsta Foos Ladder{% endblock %}

{% block styling_or_scripts %}

{% endblock %}

{% block current_home %}class="active"{% endblock %}

{% block heading %}Home Sweet Home{% endblock %}

{% block page_content %}
    <p>Welcome, {{ name }}, to the VendAsta Foosball Ladder.</p>

    <h4>Ladder</h4>
    {{ print_ladder(numplayers, active, players) }}

{#    <div class="row-fluid">#}
{#        <div class="span3"><a href="/ladder" class="btn btn-large">Check out the Ladder</a></div>#}
{#        <div class="span3"><a href="/selector" class="btn btn-large">View the Player Directory</a></div>#}
{#        <div class="span3"><a href="/recordGame" class="btn btn-large">Record a game</a></div>#}
{#        <div class="span3"><a href="/settings" class="btn btn-large">View your settings</a></div>#}
{#    </div>#}
{#    <div style="text-align: center">#}
{#        <div class="btn-group btn-group-vertical">#}
{#            <a href="/ladder" class="btn btn-large">Check out the Ladder</a>#}
{#            <a href="/selector" class="btn btn-large">View the Player Directory</a>#}
{#            <a href="/recordGame" class="btn btn-large">Report a game</a>#}
{#            <a href="/settings" class="btn btn-large">View your settings</a>#}
{#            {% if logout %}#}
{#            <a href="{{ logout }}" class="visible-phone btn btn-danger btn-large">Sign Out</a>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block body_scripts %}

{% endblock %}