{% extends "base.html" %}
    {% block title %}
        Player Directory
    {% endblock %}

{% block current_selector %}class="active"{% endblock %}

{% block heading %}Player Directory{% endblock %}
{% block page_content %}
    <h3>{{name}} {{last}}</h3>
    <div>
        Skill Score: {{ skill }}<br>
        Games played: {{ games }}<br><br>
        Wins/Losses: {{ wins }}/{{ losses }}<br>
        Win Percentage:
        {% if wins == 0 and losses == 0 %}
        - %
        {% else %}
        {{ win_ratio }}%
        {% endif %}<br><br>
        Record over the last
        {% if not last_five_games.total %}one game:
        {% else %}{{ last_five_games.total }} games:
        {% endif %}
        {{ last_five_games.wins }}-{{ last_five_games.losses }}<br><br>
        {{ streak }}
        <br><br>
        {% if key and key != user and user %}
            <a href="/recordGame?oppKey={{ key }}" class="btn">Challenge this person to a game!</a>
        {% elif key == user %}
            <p class="text-warning">This is you!</p>
        {% endif %}
    </div>


{% endblock %}
