{% extends "base.html" %}
    {% block title %}
        Player Directory
    {% endblock %}

{% block heading %}Player Directory{% endblock %}
{% block page_content %}
    <h3>{{name}} {{last}}</h3>
    <p>
        Skill Score: {{ skill }}<br>
        Games played: {{ games }}<br><br>
        Wins/Losses: {{ wins }}/{{ losses }}<br>
        Win Percentage:
        {% if wins == 0 and losses == 0 %}
        - %
        {% else %}
        {{ win_ratio }}%
        {% endif %}<br><br>
        Record over the last
        {% if not last_five_games.total %}one game:
        {% else %}{{ last_five_games.total }} games:
        {% endif %}
        {{ last_five_games.wins }}-{{ last_five_games.losses }}<br><br>
        {{ streak }}
    </p>


{% endblock %}
