{% extends "base.html" %}
{% from 'macros.html' import playerSel %}
{% from 'macros.html' import playerScore %}

{% block title %}Report a Game (or two){% endblock %}

{% block page_content %}
<form action="/ladder" method="POST">
    {{   playerSel(user, userKey, 'player1') }}
    {{   playerSel(names, keys, 'player2') }}
<br>
    {{   playerScore('p1g1') }}
    {{   playerScore('p2g1') }}
    <br>
    {{   playerScore('p1g2') }}
    {{   playerScore('p2g2') }}
    <br>
    {{   playerScore('p1g3') }}
    {{   playerScore('p2g3') }}
<br>
    <input type="submit">Submit Score</input>
</form>
{% endblock %}
