{% extends "base.html" %}

{% block title %}Account Settings{% endblock %}

{% block current_settings %}class="active"{% endblock %}

{% block heading %}Account Settings{% endblock %}

{% block page_content %}
    {% if form_success %}
        <p>Your name was successfully changed to {{ user.first_name }} {{ user.last_name }}</p>
        <a href="/settings" class="btn btn-success">Change it again?</a>
    {% else %}
        <form action="/settings" method="POST" id="playerSettings" name="playerSettings" class="form-horizontal">
            <label for="fname">First Name:</label>
            <input type="text" required value="{{ user.first_name }}" id="fname" name="fname" />
            <label for="lname">Last Name:</label>
            <input type="text" required value="{{ user.last_name }}" id="lname" name="lname" />

            <input type="hidden" value="{{ key }}" id="key" name="key" />
            <br><br>
            <button type="submit" class="btn btn-primary">Change it!</button>
        </form>
    {% endif %}
    <hr>
    <h3>{{player.name}} {{player.last}}</h3>
    <p>
        Skill Score: {{ player.skill }}<br>
        Games played: {{ player.games }}<br><br>
        Wins/Losses: {{ player.wins }}/{{ player.losses }}<br>
        Win Percentage:
        {% if player.wins == 0 and player.losses == 0 %}
            - %
        {% else %}
            {{ player.win_ratio }}%
        {% endif %}<br><br>
        Record over the last
        {% if not player.last_five_games.total %}one game:
            {% else %}{{ player.last_five_games.total }} games:
        {% endif %}
        {{ player.last_five_games.wins }}-{{ player.last_five_games.losses }}<br><br>
        {{ streak }}
    </p>
    <button onclick="javascript:alert('Coming sometime!')" class="btn btn-danger">Reset stats?</button>
{% endblock %}