{% extends "base.html" %}
{% block heading %}Settings{% endblock %}
{% block page_content %}
<div class="centered2">
{% if form_success %}
    <p>Your name was successfully changed to {{ fname }} {{ lname }}</p>
    <a href="/" data-role="button" data-icon="delete" data-ajax="false">Back to main</a>
{% else %}
    <form action="/settings" method="POST" id="playerSettings" name="playerSettings">
        <label for="fname">First Name:</label><input type="text" required value="{{ user.first_name }}" id="fname" name="fname" />
        <label for="lname">Last Name:</label><input type="text" required value="{{ user.last_name }}" id="lname" name="lname" />
        <input type="hidden" value="{{ key }}" id="key" name="key" />
        <input type="submit" value="Change your settings" data-icon="check" data-ajax="false" />
    </form>
    <a href="/" data-role="button" data-icon="delete" data-ajax="false">Discard changes and go back</a>
{% endif %}
</div>
    {% block home_button %}{% endblock %}
{% endblock %}